*{
  font-family: 'Arvo', serif;
  font-family: 'Merriweather', serif;
}


body{
  background: linear-gradient(77deg,  #2e2e2e, #6d6d6d, #b8b8b8, #a19999, #4e4d4d);
  background-size: 300% 300%;
  position: relative;
  animation: animar 6s ease infinite;
}
@keyframes animar {
  0%{background-position: 0 50%;} 
  50%{background-position: 100% 50%;}
  100%{background-position: 0 50%;}
}

h2{
  text-shadow: #ffffff 1px 2px 7px;
}


.App{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  letter-spacing: 5px;
    transition: 0.6s ease-in-out;
    font-size: small;
    text-align: center !important;
  
}

.fecha, .dropdown{
  text-align: center !important;
}



input::placeholder{
  color: #000000 !important;
  text-align: center;
}



.botones{
  color: white !important;
  border: 1px solid #000000 !important;
}


button:hover{
  background-color: #000000 !important;
}


.redes{
  margin-top: 80px;
  width: 150px;
  height: 80px;
 
}

.pais{
  margin-top: -40px;
}



.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 gap: 40px;
}

